{{!-- The following component displays Ember's default welcome message. --}}
<span class="over"></span>
<header role="banner">
<nav role="navigation">
<ul>
<li><a href="#" >Home</a></li>
<li><a href="#" >About</a></li>
</ul>
</nav>
</header>

<main id="main" role="main">
<article class="post" role="article">
<h1>Project One</h1>
<time class="date" datetime="2014-03-03T00:00:00+00:00">2014 &middot; Front-end development</time>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</article>
</main>

<footer class="footer" role="contentinfo"> 
<small> 2019 © <a href="/" >Ferry Ayunda</a> </small>
</footer>
{{!-- Feel free to remove this! --}}

{{outlet}}
